.divClass{
    color: grey;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}.AllBooks{
    color: palevioletred;
    
}.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    position: relative;
    left: 40vw;
    width: 22vw;
    text-align: center;
    top: -18vh;
}.ng-star-inserted{
    position: relative;
    display: revert;
    left: 0vw;
    width: 17vw;
}table.mat-table {
    border-spacing: 0;
    margin-left: 18vw;
    margin-top: -11vh;
}.mat-icon-button{
    font: inherit;
    vertical-align: baseline;
    width: 2vw;
}